.item{
    display: flex;
    align-items: center;
}

.link{
    margin-left: 10px;
    opacity: 1;
}

.icon{
    fill: var(--inverted-primary-color)
}

.collapsed{
    .link{
        opacity: 0;
        transition: 0.2s opasity;
        width: 0;
    }
}


.itemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;

    .link {
        opacity: 0;
        width: 0;
        margin: 0;
    }
}

.active {
    background: linear-gradient(88.26deg, rgb(94 211 243 / 30%) 1.162%,rgb(94 211 243 / 0%) 99.956%);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        background: var(--accent-redesigned);
        height: 100%;
    }
}