.profilePageHeader{
    display: flex;
    margin-bottom: 20px;

    .editBtn{
        margin-left: auto;
    }

    .groupBtn{
        margin-left: auto;
    }

    .saveBtn{
        margin-left: 20px;
    }

}