.app_purple_theme {
    --bg-color: #ccbfee;
    --inverted-bg-color: #855fe4;
    --primary-color: #3f08af;
    --secondary-color: #3a03a7;
    --inverted-primary-color: #F6F4FB;
    --inverted-secondary-color: #F6F4FB;

    // redesigned
    --dark-bg-redesigned: #795dc2;
    --bg-redesigned: #c7c0ec;
    --light-bg-redesigned: #855fe4;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    // --bg-redesigned: #F0C048;
    // --light-bg-redesigned: #F2D791;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
	
    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}