.app_purple_theme {
    --bg-color: #ccbfee;
    --inverted-bg-color: #855fe4;
    --primary-color: #3f08af;
    --secondary-color: #3a03a7;
    --inverted-primary-color: #F6F4FB;
    --inverted-secondary-color: #F6F4FB;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
	
    // card
    --card-bg: #d5d5d7;
}